<h1 class="mt-4 mb-2">Create Address</h1>

<%= render partial: 'partials/address_form', locals:
  {
    path: '/profile/addresses',
    method: :post,
    nickname: nil,
    address: nil,
    city: nil,
    state: nil,
    zip: nil,
    button_text: 'Create Address'
  } %>
